* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-title {
  text-align: center;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
}

.card-text {
  height: 100px;
  overflow-y: scroll;
}

.card img {
  width: 12rem;
  height: 10rem;
  object-fit: contain;
}